.bg-nav-color{
    background-color: rgba(75, 54, 33, 0.7);
}
.txt-nav-color{
    color: rgba(255,255,255, 0.4);
}
body{
    margin: 0 !important;
    width: 100vw;
    padding: 0 !important;
}
footer .card {
    background-color: #d3b7b5;
    border-radius: 0;
}
footer .card-body{
    height: 250px;
    text-align: center;
    color: rgba(255,255,255, 0.8) !important ;
    
}
footer .card-body a{
    color: rgba(255,255,255, 0.8) !important ;
    text-decoration: none;
}
footer .card-header {
    background-color: rgba(75, 54, 33, 0.7);
    border-radius: 0 !important;
   
}
footer .card-header a{
    text-decoration: none;
    color: white;
    margin: 0 5px; 
    font-size: 25px;
}
footer .card-header a:hover{
    color: gray;
}
main .row{
    padding: 0 100px !important;
}
main h2{
    margin: 30px 100px 60px 100px;
}
/* .card-body{
    margin-left: 250px;
} */
.border0{
    border-width: 0px;
}
.card-title{
    margin-top: 50px;
    margin-bottom: 25px;
}
.card-text{
    margin: 20 0 20 0;

    text-align: justify;
}
.margem{
    margin-bottom: 130px !important;
}
.cor{
    background-color: rgba(75, 54, 33, 0.5) !important;
}
.altura{
    margin-top: 30px;
}
footer .localizacao{
    height: 200px;
    text-align: center;
    margin-top: 50px;
}
.fixacao{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}